* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  font-family : 'abhaya_libremedium', serif;
  letter-spacing: 0.1rem;
  word-spacing: 0.2rem;
  font-size : 10px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
 float: left;
  width: 30%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

h1 {
    text-align : center;
    font-family: 'kaushan_scriptregular', serif;
    font-size : 30px;
    
}

h2 {
    font-family: 'kaushan_scriptregular', serif;
    font-size : 17px;
}

h2+p {
  text-indent: 20px;
}

a:visited {
    color:pink;
}

a:link {
    color:green;
}

a:hover, a:focus {
    border-bottom : 1px solid;
    background : yellow;
}

a {
    outline : none;
    text-decoration: none;
    padding : 2px 1px 0;
}

p {
    line-height: 1.4;
}

a[href*="https"] {
    background: url("external-link-52.png") no-repeat 100% 0;
    background-size: 10px 10px;
    padding-right: 10px;
}

nav ul li a {
    
    display : block;
    border-radius: 5px;
    text-decoration: none;
    border : 2px solid #a66;
    text-align : center;
    background: rgba(170, 102, 102, 0.155);
}

nav ul li a:hover {
    background : rgba(170, 102, 102, 0.37);
}

nav ul li {
    list-style: none;
    width: 10vw;
    line-height: 3;
}

section li, aside ul li {
    line-height: inherit; /*상속*/
    list-style-type: inherit; /*상속*/
}

nav {
  
  padding-left: 
}

nav li {
  list-style: none;
  margin-bottom: 2vh;
}




@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('fonts/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('fonts/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'abhaya_libremedium';
    src: url('fonts/abhayalibre-medium-webfont.woff2') format('woff2'),
         url('fonts/abhayalibre-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}